.App {
  padding: 30px;
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 1px 10px black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
}
.box {
  flex-grow: 1;
  margin: 5px;
}
.hapus {
  margin-top: 40px;
}

.addContact {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
}

.inputUpdate {
  margin-top: 7px;
}

.formSearch {
  text-align: left;
}

.inputSearch {
  width: 30%;
}

.save {
  border: 0;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
