.App {
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 1px 10px black;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2196f3;
  font-size: 20px;
  color: white;
  border-radius: 10px 10px 0 0;
}

.title-h4 {
  font-size: 17px;
}

.container-app {
  display: flex;
  margin: 0 auto;
}
.box {
  flex-grow: 1;
  margin: 5px;
}

.leftBox {
  margin-left: 50px;
  text-align: left;
  margin-top: 0;
}
.hapus {
  margin-top: 40px;
}

.addContact {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.inputUpdate {
  margin-top: 7px;
}

.formSearch {
  text-align: left;
}

.inputSearch {
  width: 30%;
}

.addContact {
  border: 0;
  padding: 10px;
  background-color: #02a8f6;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.segment-search {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.searchContact {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f4;
  width: 100%;
}

.parent-container {
  width: 60%;
  margin: auto;
}

.app-footer {
  background-color: #2196f3;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
